:root {
  --bg-image-width: 860px;
  --bg-image-height: 375px;
}
ul {
  width: 900px;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
li {
  display: inline-block;
  list-style: none;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  width: 280px;
  background-color: #F7F7F7;
  border: 1px solid #989898;
  border-radius: 16px;
  padding: 32px 0;
}
.icon {
  background-image: url('0-sprite.png');
  height: var(--bg-image-height);
  display: block;
}
.icon.i-html {
  background-position: calc(var(--bg-image-width) / 1);
}
.icon.i-css {
  background-position: calc(var(--bg-image-width) / 1.5);
}
.icon.i-js {
  background-position: calc(var(--bg-image-width) / 3);
}